@page
@model HuiNan2020OneClass.Pages.Classes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GradeClass[0].ClassNuber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeClass[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeClass[0].ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeClass[0].EnrollmentYYMM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeClass[0].IsCurrentClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeClass[0].CreatTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeClass[0].UpdateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeClass[0].CreatUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeClass[0].IsDelete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GradeClass) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassNuber.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentYYMM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCurrentClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
