@page
@model HuiNan2020OneClass.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].IncomOrExp)
            </th>
            
            <th>
                系统预设
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category)
{
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomOrExp)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.IsSystem )
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger" >Delete</a>
                @{
                    if (item.IsDelete == true)
                    {
                        <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-primary">启用</a> 
                        
                    }
                }



            </td>
        </tr>
}
    </tbody>
</table>
