@page
@model HuiNan2020OneClass.Pages.Classes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>班级</h1>


<table  class="table">
    <tr>
        <th>
            <a asp-page="Create" class="btn btn-primary">新增</a>
        </th>
        <th>
            <a asp-page="SetIsCrrents" class="btn btn-primary">设置当前班级</a>
        </th>
        <th></th>
       
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                班
            </th>
            <th>
                年级
            </th>
            <th>
                学期
            </th>
            <th>
                本学期
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ClassAndTerm) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">
                    @Html.DisplayFor(modelItem => item.ClassNuber.ClassNuberName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade.GradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolTerm.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCurrentClass)
            </td>

        </tr>
}
    </tbody>
</table>
